.section {
  background: var(--section-bg);
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .section {
    padding: 140px 0;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 180px 0;
  }
}

.container {
  position: relative;
  z-index: 20;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 48px;
  }
}

@media (min-width: 1536px) {
  .container {
    padding: 0 64px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 48px;
}

@media (min-width: 768px) {
  .textContainer {
    gap: 32px;
    margin-bottom: 64px;
  }
}

@media (min-width: 1024px) {
  .textContainer {
    margin-bottom: 80px;
  }
}

.title {
  font-size: var(--font-6xl);
  color: black;
  text-transform: uppercase;
  line-height: 0.94;
  max-width: 701px;
  font-family: var(--font-schabo);
  font-weight: 100;
}

.description {
  font-size: var(--font-sm);
  color: black;
  line-height: 1.9;
  font-family: var(--font-grifter);
  font-weight: 400;
}

@media (min-width: 1024px) {
  .description {
    font-size: var(--font-base);
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;
  max-width: 1800px;
  margin: 0 auto;
  height: 400px;
}

@media (min-width: 768px) {
  .imageContainer {
    height: 800px;
  }
}

@media (min-width: 1024px) {
  .imageContainer {
    height: 900px;
  }
}

@media (min-width: 1280px) {
  .imageContainer {
    height: 1100px;
  }
}

.topGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to bottom, #f0ebe6 0%, rgba(240, 235, 230, 0.738) 19%, rgba(240, 235, 230, 0.541) 34%, rgba(240, 235, 230, 0.382) 47%, rgba(240, 235, 230, 0.278) 56.5%, rgba(240, 235, 230, 0.194) 65%, rgba(240, 235, 230, 0.126) 73%, rgba(240, 235, 230, 0.075) 80.2%, rgba(240, 235, 230, 0.042) 86.1%, rgba(240, 235, 230, 0.021) 91%, rgba(240, 235, 230, 0.008) 95.2%, rgba(240, 235, 230, 0.002) 98.2%, transparent 100%);
}

@media (min-width: 768px) {
  .topGradient {
    height: 130px;
  }
}

.bottomGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to top, #f0ebe6 0%, rgba(240, 235, 230, 0.738) 19%, rgba(240, 235, 230, 0.541) 34%, rgba(240, 235, 230, 0.382) 47%, rgba(240, 235, 230, 0.278) 56.5%, rgba(240, 235, 230, 0.194) 65%, rgba(240, 235, 230, 0.126) 73%, rgba(240, 235, 230, 0.075) 80.2%, rgba(240, 235, 230, 0.042) 86.1%, rgba(240, 235, 230, 0.021) 91%, rgba(240, 235, 230, 0.008) 95.2%, rgba(240, 235, 230, 0.002) 98.2%, transparent 100%);
}

@media (min-width: 768px) {
  .bottomGradient {
    height: 130px;
  }
}

.columnsContainer {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .columnsContainer {
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .columnsContainer {
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .columnsContainer {
    gap: 34px;
  }
}

.column {
  flex: 1;
  position: relative;
  will-change: transform;
}

.imageCollection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  will-change: transform;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .imageCollection {
    gap: 32px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1024px) {
  .imageCollection {
    gap: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .imageCollection {
    gap: 48px;
    margin-bottom: 48px;
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 4 / 5;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper img {
  object-fit: cover;
}
